.back-div-header{
	background-color:#CE9C9D ;
	width: 100%;
	//height : 70px;
	display: flex;			
        justify-content:center;
        align-items: start;
}

#p-header{
	font-size: 25px;
	font-weight:bold;
	color: #F6F3EE;
	
}


.navbar{
	background-color: #F6F3EE;
	width: 100%;
	positio:fixed;
	display: flex;
	justify-content: center;
        align-items: center;
   	font-family: Verdana, Geneva, Tahoma, sans-serif;
    	color: black;
    	height: 50px;
}


li{
	display: inline-block;
	font-weight: lighter;
	font-size: 20px;
	padding: 0 20px;
}
.link{
	text-decoration: none;
	//color: #CE9C9D;
	color:black;
	cursor: pointer;
}
.move{
	display: flex;
	flex-direction: row;
	margin-top:15px;
	margin-left: 105px;
	background:#F6F3EE;
}
.home, .shop, .next, .nextpage, .prev, .prevpage{
	color: black;
	background:#F6F3EE;
	font-style: none;
	text-decoration: none;
	border: 0px;
}
.name{
	color:#CE9C9D;
}
.prev{
	padding-left: 70%;
}
.prev, .next{
	font-size: 15px;
}
body{
	background:#F6F3EE;
	margin: 0px;
	padding: 0px;
}
#body{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 75px;
}
.right{
	width: 500px;
}
.p1{
	margin-top: 50px;
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
	color: black;
}
.title{
	color: black;
	font-size: 25px;
	font-weight: bold;
}
.title1 .asidetitle, .option{
	display: inline-block;

}
.asidetitle{
	width: 400px;
	font-weight: bold;
	color: black;
	font-size: 25px;
}
.option{
	margin-left: 10px;
}
.less,.more, .less3, .less2, .more2, .more3{
	color: #CE9C9D;
	font-size: 35px;
	cursor: pointer;
	border: 0px
	background:#F6F3EE;
}
.sec1, .sec2, .sec3{
	border-bottom: 1px solid #CE9C9D;
	margin-top: 25px;
}
.p1{
	color: black;
	font-size: 18px;
	padding: 1px;
	font-family: 'Times New Roman', Times, serif;  
}
ins{
	text-decoration: none;
}
.p2, .p3, .p4{
	color: black;
	font-size: 18px;
	font-family:'Times New Roman', Times, serif;
	display: none;
	margin-right: 50px;
	width: 300px;
}
.less, .less3, .less2{
	display: none;
}
.left{
	margin-left: 50px;
	margin-top: 50px;
}
#body{
	margin-left: 50px;
}
/*footer*/
.back-div{
	background-color:#F6F3EE;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
        align-items: center;
}
.parent-div{
	background-color: #F6F3EE;
	margin: 0;
	padding: 0;
	width: 80%;
	height: 75%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.divh1{
	border: 1px outset white;
	width: 45%;
	height: 70%;
	display: flex;
	flex-direction: column;
        justify-content: center;
        align-items: center;
}
.divh2{
	border: 1px outset white;
	width: 45%;
	height: 70%;
	display: flex;
	flex-direction: column;
        justify-content: center;
        align-items: center;
}
.divh3{
	border: 1px outset white;
	width: 45%;
	height: 70%;
	display: flex;
	flex-direction: column;
        justify-content: center;
        align-items: center;
}
.divh4{
	border: 1px outset white;
	width: 45%;
	height: 70%;
	display: flex;
	flex-direction: column;
        justify-content: center;
        align-items: center;
}
.homelinks{
	color: black;
	text-decoration: none; 
	font-family: "Calibri";
}
.style-content{
	font-family: "Calibri";
}
.flower-link{
	color: #79253D;
	text-decoration: none; 
	font-family: "Calibri";
	font-size: 18;
}
.style-bar{
	color: #5C1B2E;
	font-size: 25;
	font-weight:bold;
}
.sh1{
	color: #5C1B2E;
	text-align: center;
	font-size: 40;
				
}
.policy-contenet{
	font-family: "Calibri";
	text-align: center;
}
.policy-content-div{
	width: 35%;
	background-color: #EBEAE7;
	display: flex;
	flex-direction: column;
        justify-content: center;
	align-items: center;	
}
.main-for-policy{
	background-color: #EBEAE7;
	width: 100%;
	display: flex;
	flex-direction: column;
        justify-content: center;
        align-items: center;	
}
.footer{
	text-align: center;
	color: black;
	font-weight: normal;
	font-size: 15px;
}
